/*styling.css*/
/*add font family, background image*/

body {
  color: #03295e;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}

.fa-map-marker-alt,
.fa-dot-circle {
  color: #03295e;
}

#mode-travel {
  margin: 0 0 1vw 18vw;
  font-size: 1.6rem;
}

#mode {
  border-radius: 6px;
  color: black;
  font-size: 1.8rem;
}


b {
  font-size: 1.8rem;
}


/*Jumbotron*/
.jumbotron {
  background-color: transparent;
  margin: 0;
  padding: 10px;
}

.jumbotron h1 {
  margin-top: 4vw;
  font-size: 2.8em;
}

.jumbotron h1,
.jumbotron p {
  text-align: center;
}

.jumbotron p {
  margin-bottom: 4vw;
}

.form-horizontal {
  margin-bottom: 1vw;
}

.form-group {
  width: 100%;
  font-size: 21px;
}

#to, #waypoints, #from {
  width: 100%;
  font-size: 2rem;
}

/*map*/
#googleMap {
  width: 80%;
  height: 80vh;
  margin: 50px auto;
  border-radius: 6px;
  display: flex;
  justify-content: center;
}

/*output box*/
#directions-panel {
  border-radius: 6px;
  text-align: left;
  font-size: 1.4em;
  margin: 20px auto;
}

#output {
  width: 40%;
  text-align: center;
  align-items: center;
  font-size: 1.4em;
  margin: 20px auto;
  border-radius: 50%;
}
